fieldset {
  vertical-align: top;
  display: inline;
  width: 30%;
  margin: 0;
}

input  {
  border-radius: 10px;
}

textarea {
  border-radius: 6px;
  border: 1px solid;
  height: 75px;
  width: 100%;
}

# small-buttons {
  border-radius: 6px;
}

label {
font-weight: bold;
}

/*label {
  display: block;
}*/

aside {
  top-margin: 10px;
}

iput
